{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ saludar }}</h1> <!-- Imprimiendo una variable que llega desde el controlador. -->
</div>
{% endblock %}
